.listMovies{
    display: flex;
    flex-direction: column;
    gap:10px;
    /* background-color: rgb(212, 242, 232); */
}
/* .divGoBack{
    display: flex;
        flex-direction: column;
        gap: 10px;
} */
