.divCast{
        display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 10px;
}
.cardCast{
    border: 0.5px solid;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(218, 232, 232);
}

.text
{
     width: 150px; 
    text-align: center;
}

.defaultImage{
    height: 225px;
    object-fit: cover;
}